body {
  padding: 0px;
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9em;
}

.titulo{
  max-width: 850px;
  height: 180px;
  margin: 40px auto 20px auto;
  border: 1px solid black;
  padding: 20px;
  font-size: 1.5em;
  background-image: url(../img/titulo.jpg);
  background-size: cover;
  background-position: center;
}

.menu-um {
  position: absolute;
  width: 100%;
  top: 0px;
}

.menu-um ul {
  display: flex;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  background-color: black;
  overflow: hidden;
}

.menu-um ul li {
  border-right: 1px solid white;
}

.menu-um ul li a {
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 10px 14px;
}

.menu-um ul li a:hover {
  background-color: #555;
}

.menu-um ul li:last-child {
  border-right: none;
}

nav{
    max-width: 900px;
    margin: 0px auto;
}

.menu-dois ul {
  display: flex;
  justify-content: space-around;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
  background-color: black;
}

.menu-dois ul li a,
.btn-submenu-home,
.btn-submenu-game,
.btn-submenu-forum,
.btn-submenu-events,
.btn-submenu-trade,
.btn-submenu-shop {
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 10px 14px;
}

.menu-dois ul li a:hover,
.btn-submenu-home:hover,
.btn-submenu-game:hover,
.btn-submenu-forum:hover,
.btn-submenu-events:hover,
.btn-submenu-trade:hover,
.btn-submenu-shop:hover {
  background-color: red;
}

.content-home,
.content-game,
.content-forum,
.content-events,
.content-trade,
.content-shop {
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.content-home ul,
.content-game ul,
.content-forum ul,
.content-events ul,
.content-trade ul,
.content-shop ul {
  display: block;
  width: 150px;
}

.content-home a,
.content-game a,
.content-forum a,
.content-events a,
.content-trade a,
.content-shop a {
  width: 122px;
}

.submenu-home:hover .content-home,
.submenu-game:hover .content-game,
.submenu-forum:hover .content-forum,
.submenu-events:hover .content-events,
.submenu-trade:hover .content-trade,
.submenu-shop:hover .content-shop {
  display: block;
}

.corpo{
  display: grid;
  max-width: 880px;
  margin: 10px auto;
  grid-template-columns: 2fr 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(200px, auto);
}

.caixa-anuncio{
  border: 1px solid black;
  padding: 20px;
  grid-column: 1/3;
}

.caixa-anuncio-02{
  border: 1px solid black;
  padding: 20px;
  grid-column: 1/2;
}

.caixa-posts{
  display: grid;
  border: 1px solid black;
  padding: 10px;
  grid-row: 3;
}

.caixa-posts article{
  border: 1px solid black;
  padding: 10px;
  margin: 10px 0px;
}

aside{
  display: grid;
  border: 1px solid black;
  grid-column: 2;
  grid-row: 2/4;
}

aside > div{
  padding: 10px;
  border: 1px solid black;
}

.menu-footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 880px;
  margin: 10px auto;
}

.menu-footer div{
  border: 1px solid black;
  padding: 10px;
  width: 122px;
  height: 300px;
}

.menu-footer div ul{
  list-style-type: none;
  padding: 0px;
}

address p{
  text-align: center;
}